.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mt-4 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 4px;
}
/* .genreList {
  @media (min-width: 576px) {
    flex-direction: column;
  }
} */

.navbar-brand.active {
  color: white !important;
  font-weight: bold !important;
}
.navbar-brand:hover {
  color: white !important;
  font-weight: bold !important;
}
.navContainer {
  margin-left: 23px;
}
.navHeading {
  font-weight: 500;
}

.nav-link:hover {
  color: white !important;
  font-weight: bold !important;
}

.searchStudentContainer {
  position: absolute;
  left: 30%;
}
.studentButton {
  margin-left: 20px;
}
.studentForm {
  margin: 30px;
}

.bookInfo {
  padding-left: 20px;
  padding-right: 20px;
}
.studentInfo {
  padding-left: 20px;
  padding-right: 20px;
}

.renderTagLi {
  display: "inline-block";
  padding: "2px";
  border: "1px solid blue";
  font-family: "Helvetica, sans-serif";
  border-radius: "5px";
  margin-right: "5px";
  cursor: "pointer";
}

/* Css for Modal */
.modalBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgb(98 91 91 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 281px;
  height: 341px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#CIUimage {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .indexTitleDescription {
    padding: 12px;
  }
}
@media (max-width: 575.98px) {
  body {
    max-width: 575.98px;
  }

  .hide {
    overflow-y: auto;
  }
  .marginRow {
    padding: 6px;
  }

  .showOnSmallScreen {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .marginLeftOnMediumScreen {
    margin: 2px;
  }
}
