/*  ANISHA MAHARJAN
    Design Updates
================================================ */

.navbar{
    background: #0B3060;
    margin: 0;
    padding: 20px;
}

.container{
    padding: 20px 0
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    cursor: pointer
}

.form-group .list-group-item span{
    cursor: pointer;
}